.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.tabButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.tabButton {
  margin-left: 2rem;
  margin-right: 2rem;
  color: #575757;
  cursor: pointer;
}

.tabButton:hover {
  color: #888;
}

.actionButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.fundsButtonContainer {
  margin-right: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  color: #0f1118;
  border: 1px solid rgba(87, 87, 87, 0.25);
  cursor: pointer;
  width: 75px;
  font-weight: 600;
  border-radius: 0.25rem;
}

.fundsButtonContainer:hover {
  background-color: #fff;
}
