.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.walletButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
