.orderViewOuterContainer {
  width: 100%;
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.orderViewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.columnNameRow {
  color: #bbb;
  font-size: 0.85rem;
  display: flex;
  width: 20%;
  justify-content: center;
}

.columnSubname {
  color: rgba(87, 87, 87, 1);
  font-weight: bold;
  font-size: 0.85rem;
}

.cancelOrderButton {
  color: #e33d3d;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .columnNamesOuterContainer {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .columnNameRow {
    font-size: 0.65rem;
    width: 100%;
  }
}

.spinnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.threeQuarterSpinner {
  width: 5px;
  height: 5px;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
