.orderProducerContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* width: 100%; */
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

.formLabelAndFieldContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.formLabelContainer {
  width: 35%;
}

.formFieldContainer {
  width: 65%;
}

.createButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

.createButton {
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #ddd;
  color: #0a0b0e;
  opacity: 100%;
}

.createButton:hover {
  background-color: #fff;
  opacity: 100%;
}