.vaultPageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: yellow; */
    margin: 0 auto;
}

.vaultInfoContainer {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    height: 120px;
    color: white;
}

.vaultPairNameContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

@media (max-width: 425px) {
    .vaultPairNameContainer {
        font-size: 1.8rem;
        margin-left: 0.5rem;
    }
}