.botPageOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.botPageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 4rem;
}

.createBotHeaderContainer {
    display: flex;
    justify-content: center;
    color: #eee;
    font-size: 0.9rem;
}

.botViewerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 300px; */
}

.botChartContainer {
    background-color: #0f1118;
    width: 70%;
    border-radius: 0.75rem 0rem 0rem 0.75rem;
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-top: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
}

.marketDataContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
  }
  
  .chartContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 70%;
  }
  
  .marketInfoContainer {
    display: flex;  
  }
  
  .marketSelectorContainer {
    width: 50%;
  }
  
  .marketStatsContainer {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  

.createBotContainer {
    background-color: #0b0c11;
    width: 30%;
    border-radius: 0rem 0.75rem 0.75rem 0rem;
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    border-top: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
}

.createBotFormHeader {
    margin: 1rem;
    color: #ccc;
    font-weight: bold;
}

.resetFieldsButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.resetFieldsButton {
    color: #ccc;
    cursor: pointer;
    font-size: 0.85rem;
}

.resetFieldsButton:hover {
    font-weight: 500;
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);
  }
  
.createBotFormContainer {
    margin: 1rem;
    margin-top: 1rem;
    color: #ccc;
}

.formGroupContainer {
    /* padding-left: 1.25rem;
    padding-right: 1.25rem; */
    padding-top: 2rem;
    font-size: 0.9rem;
  }
  
  .formLabelAndFieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }

  .formLabelAndFieldContainerNoBottomMargin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.fieldTitleContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
  }

.formLabelContainer {
    width: 40%;
  }
  
  .formFieldContainer {
    width: 40%;
  }

  .depositTextContainer {
    font-size: 0.75rem;
  }

  .validationErrorText {
    color: #e33d3d;
  }

  .previewText {
    color: #3de383;
  }

  .createBotButtonContainer {
    width: 100%;
  }

  .createBotButton {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    background-color: #3de383e6;
    font-weight: bold;
    font-size: 1rem;
  }

  .columnNamesOuterContainer {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }
  
  @media screen and (max-width: 768px) {
    .columnNamesOuterContainer {
      width: 100%;
    }
  }
  
  .columnNamesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  .columnNameRow {
    display: flex;
    justify-content: center;
  }
  
  .columnName {
    color: rgba(87, 87, 87, 1);
    font-weight: bold;
    font-size: 0.85rem;
    margin: 0.1rem;
  }
  
  .columnSubname {
    color: rgba(87, 87, 87, 1);
    font-weight: bold;
    font-size: 0.85rem;
    margin: 0.1rem;
  }
  
  
.activeBotsContainer {
    /* background-color: red; */
    width: 100%;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #0b0d12;
    border: 1px solid rgba(87, 87, 87, 0.25);
    border-radius: 0.25rem;
}

.userBotsMenuSwitch {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.userBotsMenuOption {
  margin-right: 1rem;
  font-size: 1.25rem;
  color: #575757;
  cursor: pointer;
}

.noOrderViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: rgba(87, 87, 87, 1);
}


.spinnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.threeQuarterSpinner {
  width: 12px;
  height: 12px;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1025px) {
  .placeOrderButtonContainer {
    margin-bottom: 4rem;
  }

  .botViewerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .botChartContainer {
    width: 100%;
    border-bottom: none;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-top: 1px solid rgba(87, 87, 87, 0.25);
  }

  .createBotContainer {
    width: 100%;
    border-top: none;
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }

}
