.marketDropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #0f1118;
  border: none;
  border-right: 1px solid rgba(87, 87, 87, 0.25);
  border-radius: 0.75rem 0rem 0rem 0rem;
}

.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #0a0b0e;
  border: 1px solid rgba(87, 87, 87, 1);
  border-radius: 0.25rem;
  z-index: 10;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 300px;
  height: 250px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tokenPairContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tokenImage {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.marketTickerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickerText {
  margin: 0.25rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #eee;
}

.caretContainer {
  color: #ddd;
  margin-left: 0.5rem;
}

.dropdownContent div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.otherMarketRowContainer {
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.otherMarketRowContainer:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1024px) {
  .dropdownButton {
    border-radius: 0.75rem 0rem 0rem 0rem;
    border-right: 0px solid rgba(87, 87, 87, 0.25);
  }

  .tickerText {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .dropdownContent {
    width: 100%;
    font-size: 0.8rem;
    left: 0;
    border-radius: 0;
    height: 350px;
  }

  .otherMarketRowContainer {
    padding: 0rem;
  }
}
