.tokenInfoContainer {
    display: flex;
    flex-direction: column;
    color: #ddd;
}

.headerContainer {
    display: flex;
    
}

.formGroup {
    font-size: 1rem;
    margin-top: 2rem;
  }
  
  .formLabelAndFieldContainerNoBottomMargin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .fieldTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .formLabelContainer {
    width: 30%;
  }
  
  .formFieldContainer {
    width: 70%;
  }
  
  .capacityButtonsContainer {
    display: flex;
    
    justify-content: space-between;
    border: 1px solid rgba(87, 87, 87, 0.5);
    border-radius: 2rem;
  }

  .capacityButton {
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #aaa;
  }

  .capacityTextContainer {
    display: flex;
    padding: 0.5rem;
    font-size: 0.85rem;
    justify-content: flex-end;
    margin-top: 1rem;
    color: #ddd;
    opacity: 0.85;
  }