.feeTooltipContainer {
  padding: 0.5rem;
  background-color: white;
  color: #0f0f0f;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.fundsManagerContainer {
  width: 100%;
  padding: 1rem;
  border: 0.75px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.75rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101010;
}

.fundsManagerButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tabButtonContainer {
  width: 45%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.3rem;
}

.tabButton {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.tokenFieldsContainer {
  width: 100%;
  box-sizing: border-box;
}

.tokenField {
  width: 100%;
  box-sizing: border-box;
}

.connectButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%
}

.actionButtonContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.actionButton {
  width: 100%;
  background-color: #ddd;
  color: #0f0f0f;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.feeTextContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  width: 100%;
}

.feeText {
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.feeText:hover {
  color: #ddd;
}

@media (max-width: 425px) {
  .tabButtonContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
  }

  .tabButton {
    font-size: 0.85rem;
  }
}

@media (max-width: 425px) {
  .tabButtonContainer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.35rem;
  }

  .tabButton {
    font-size: 0.85rem;
  }
}
