.fundViewOuterContainer {
  width: 100%;
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.fundViewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.columnNameRow {
  color: #bbb;
  font-size: 0.85rem;
  display: flex;
  width: 20%;
  justify-content: center;
}

.columnSubname {
  color: rgba(87, 87, 87, 1);
  font-weight: bold;
  font-size: 0.85rem;
}

@media screen and (max-width: 768px) {
  .columnNamesOuterContainer {
    width: 95%;
  }
}
