.orderBookContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #0b0c11;
  height: 580px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.75rem;
}

.orderBookTitleContainer {
  display: flex;
  align-self: center;
  color: #ddd;
  margin: 1rem;
}

.loadingBookContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  margin: auto;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: flex-start;
}

.bookTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.bookSideContainer {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 200px;
  border: 1px solid rgba(87, 87, 87, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.orderSkewnessContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
}

.orderSkewness {
  display: flex;
  flex-direction: row;
  padding: 0.15rem;
  font-size: 0.8rem;
  opacity: 0.65;
}

.midPriceAndSpreadContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.midPrice {
  color: #ccc;
  font-size: 1rem;
}

.spread {
  color: #ccc;
  font-size: 1rem;
}

.l3UiOrder {
  padding-top: 1rem;
}

.l3UiBid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3DE383;
  padding: 0.15rem;
  font-size: 0.8rem;
  opacity: 0.65;
  width: 100%;
}

.bidDepth {
  color: #3DE383;
  padding: 0.25rem;
  width: 50%;
}

.l3UiAsk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e33d3d;
  padding: 0.15rem;
  font-size: 0.8rem;
  opacity: 0.65;
  width: 100%;
}

.askDepth {
  color: #e33d3d;
  padding: 0.25rem;
  width: 50%;
}

.priceAndSize {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}