.orderInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

.orderPriceContainer {
color: #777777
}

.orderPrice {
    font-weight: bold;
}

.orderSizeContainer {
    display: flex;
    justify-content: flex-end;
    /* width: 50%; */
}

.orderSize {
    display: flex;
}

.orderSizeText {
    margin-right: 0.75rem;
}


.makerOrderIndicator {
    font-size: 0.75rem;
    font-weight: bolder;
    color: #477df2;
    margin-top: 0.15rem;
}