.orderInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.15rem;
}

.orderPriceContainer {

}

.orderPrice {
    font-weight: bold;
}

.orderSizeContainer {

}

.orderSizeBar {

}

.orderSize {
    
}