.vaultPairDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.pairDetailsContainer {
  display: flex;
}

.aprDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.aprKey {
  font-size: 1rem;
}

.aprValue {
  font-size: 2rem;
  font-weight: bold;
}

.vaultDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vaultBasicDetailsContainer {
  width: 45%;
}

.vaultDetail {
  margin-bottom: 0.5rem;
}

.vaultPriceInfoContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.vaultPriceContainer {
  display: flex;
  justify-content: flex-end;
}

.vaultPrice {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.pairNameContainer {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.5rem;
  color: white;
}

.loadingPricesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loadingPricesText {
  color: white;
}

@media (max-width: 768px) {
  .pairNameContainer {
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }

  .vaultDetailsContainer {
    display: flex;
    flex-direction: column;
  }

  .vaultBasicDetailsContainer {
    width: 100%;
  }

  .vaultPriceInfoContainer {
    width: 100%;
    margin-top: 1.5rem;
  }
}
