.pairInfoContainer {
    margin-bottom: 2rem;    
}

.vaultPairDetailsContainer {
    display: flex;
    margin-bottom: 1rem;
}

.vaultDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vaultBasicDetailsContainer {
    width: 45%;
}

.vaultDetail {
    margin-bottom: 0.5rem;
}

.vaultPriceDetailsContainer {
    width: 45%;
    background-color: green;
}

.pairNameContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1.5rem;
    color: white;
}

@media (max-width: 425px) {
    .pairNameContainer {
        font-size: 1.8rem;
        margin-left: 0.5rem;
    }

    .vaultDetailsContainer {
        display: flex;
        flex-direction: column;
    }

    .vaultBasicDetailsContainer {
        width: 100%;
    }
    
    .vaultPriceDetailsContainer {
        width: 100%;
    }
}
