.dualTokenImageContainer {
  display: flex;
  flex-direction: row;
}

.tokenImageContainer {
  overflow: hidden;
}

.tokenImage {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
