.orderConsumerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marketDataContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 100%;
}

.marketInfoContainer {
  display: flex;
  /* border-top: 1px solid rgba(87, 87, 87, 1.0);
  border-left: 1px solid rgba(87, 87, 87, 1.0);
  border-right: 1px solid rgba(87, 87, 87, 1.0); */
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);

  border-radius: 0.75rem 0.75rem 0rem 0rem;
  background-color: #0b0c11;
}

.chartTypeToggleContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  color: #777;
  font-size: 0.9rem;
  background-color: #0b0c11;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
}

.chartTypeToggle:hover {
  cursor: pointer;
}

.chartTypeToggleIcon {
  font-size: 0.75rem;
  margin-top: 0.15rem;
}

.chartTypeTextSimple {
  margin-right: 0.5rem;
}

.chartTypeTextSimple:hover {
  color: #fff;
}

.chartTypeTextAdvanced {
  margin-left: 0.5rem;
}

.chartTypeTextAdvanced:hover {
  color: #fff;
}

.tradingViewChartContainer {
  /* border-bottom: 1px solid rgba(87, 87, 87, 1.0);
  border-left: 1px solid rgba(87, 87, 87, 1.0);
  border-right: 1px solid rgba(87, 87, 87, 1.0); */
  background-color: #0b0c11;
}

.marketSelectorContainer {
  width: 20%;
}

.marketStatsContainer {
  width: 80%;
  margin: auto;
}

.orderManagerOuterContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 100%;
}

.orderManagerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(87, 87, 87, 1.0); */
  border-radius: 0.75rem;
  background-color: #0b0c11;
}

@media (max-width: 1024px) {
  .marketInfoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .marketDataContainer {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .orderManagerOuterContainer {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .marketSelectorContainer {
    width: 100%;
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }

  .marketStatsContainer {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: none;
  }
}
