.marketPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.orderProducerContainer {
  width: 28%;
  border: 1px solid #575757;
  box-sizing: border-box;
  border-radius: 0.75rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.orderConsumerContainer {
  width: 72%;
  border: 1px solid #575757;
  box-sizing: border-box;
  border-radius: 0.75rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  .marketPageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .orderConsumerContainer {
    width: 90%;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;

  }

  .orderProducerContainer {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    width: 90%;
  }
}
