.notEligibleContainer {
  display: flex;
  flex-direction: row; 
}

.notEligibleContainer {
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px; 
}

.mobileTradeModalContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 70%;
  background-color: #0b0c11;
  color: white;
  border-radius: 0 0 0.25rem 0.25rem;
  z-index: 2000;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: opacity 1s ease-in-out;
}

.marketPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.orderProducerContainer {
  width: 22%;
  min-height: 100vh;
  background-color: #0b0c11;
  margin-top: 0.75rem;
}

.orderConsumerContainer {
  width: 78%;
  display: flex;
  flex-direction: row;
  background-color: #000;
}

@media only screen and (max-width: 1024px) {
  .orderProducerContainer {
    display: none; /* Hide the button on devices larger than 768px */
  }
}

.orderConsumerChartContainer {
  width: 100%;
}

@media (max-width: 1025px) {
  .orderConsumerChartContainer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .marketPageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .orderConsumerContainer {
    width: 90%;
  }

  .orderProducerContainer {
    width: 90%;
  }
}
