.vaultInfoRowContainer {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftVaultContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.fundsManagerContainer {
    margin-top: 2rem;
}

.rightVaultContainer {
    background-color: blue;
}

@media (max-width: 768px) {
    .vaultInfoRowContainer {
        flex-direction: column;
        align-items: center;
    }

    .leftVaultContainer {
        width: 100%;
    }
}