.clobTraderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  box-sizing: border-box;
}

.tabsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buyTabContainer {
  width: 50%;
}

.sellTabContainer {
  width: 50%;
}

.buyTabButton {
  width: 100%;
  border-radius: 0rem;
  border: none;
  border-top: 3px solid transparent;
  background-color: #12211b;
  color: #3de383;
  font-weight: bolder;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.sellTabButton {
  width: 100%;
  border-radius: 0rem;
  border: none;
  border-top: 3px solid transparent;
  background-color: #150e11;
  color: #e33d3d;
  font-weight: bolder;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.orderTypeFormAndResetFieldsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  box-sizing: border-box;
}

.orderTypeFormAndResetFields {
  width: 100%;
}

.shortcutButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.resetFieldsButton {
  cursor: pointer;
  font-size: 0.85rem;
}

.resetFieldsButton:hover {
  font-weight: 500;
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);
}

.orderTypeChooseContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}

.dropdownInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem;
  width: 100%;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #0a0b0f;
  color: white;
  font-size: 0.9rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-top: 1px solid rgba(87, 87, 87, 0.25);
  border-left: 1px solid rgba(87, 87, 87, 0.25);
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  border-right: 1px solid rgba(87, 87, 87, 0.25);
  width: 100%;
}

.dropdownButtonSecondaryContainer {
  width: 100%;
}

.dropdownButtonSecondary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  background-color: #0a0b0f;
  color: white;
  font-size: 0.9rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: none;
  border-left: 1px solid rgba(87, 87, 87, 0.25);
  border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  border-right: 1px solid rgba(87, 87, 87, 0.25);
  width: 100%;
  z-index: 10;
}

.dropdownButtonSecondary div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdownButtonSecondary:hover {
  background-color: #0f1118;
}

@media screen and (max-width: 600px) {
  .dropdownButtonSecondary {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}
