.clobTraderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    border: 1px solid rgba(87, 87, 87, 0.25);
    box-sizing: border-box;
    border-radius: 0.75rem;
}

.tabsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buyTabContainer {
    width: 50%;
}

.sellTabContainer {
    width: 50%;
}

.buyButton {
    width: 100%;
    border-radius: 0rem;
    border: none;
    border-top: 1px solid rgba(87, 87, 87, 0.25);
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.sellButton {
    width: 100%;
    border-radius: 0rem;
    border: none;
    border-top: 1px solid rgba(87, 87, 87, 0.25);
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.orderTypeChooseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdownInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
    width: 100%;
}

.dropdownButton {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #0a0b0f;
    color: white;
    font-size: 0.9rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-top: 1px solid rgba(87, 87, 87, 0.25);
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    width: 100%;
  }
  
  .dropdownButtonSecondary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #0a0b0f;
    color: white;
    font-size: 0.9rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: none;
    border-left: 1px solid rgba(87, 87, 87, 0.25);
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
    border-right: 1px solid rgba(87, 87, 87, 0.25);
    width: 100%;
    z-index: 10;
  }

  .dropdownButtonSecondary div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdownButtonSecondary:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  @media screen and (max-width: 600px) {
    .dropdownButtonSecondary {
      width: 100%;
      left: 0;
      border-radius: 0;
    }
  }
  
  .shortcutButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .resetFieldsButton {
   cursor: pointer;
   font-size: 0.85rem;
  }
  
  .resetFieldsButton:hover {
    font-weight: 500;
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);
  }

  .formLabelAndFieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }
  
  .formLabelAndFieldContainerNoBottomMargin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-bottom: 1px solid rgba(87, 87, 87, 0.25);
  }
  
  .tokenBalanceContainer {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.80rem;
  }
  
  .userBalance {
    cursor: pointer;
  }
  
  .userBalance:hover {
    font-weight: 500;
  }
  
  .formLabelContainer {
    width: 35%;
  }
  
  .formFieldContainer {
    width: 65%;
  }
  
  .placeOrderButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    /* background-color: pink; */
  }
  
  .placeOrderButton {
    width: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: #ddd;
    color: #0a0b0e;
    opacity: 100%;
  }
  
  .placeOrderButton:hover {
    background-color: #fff;
    opacity: 100%;
  }