.fundsManagerContainer {
    width: 100%;
    background-color: #191919;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.75rem;
    box-sizing: border-box;
}

.fundsManagerButtonContainer {
    display: flex;
    flex-direction: row;
}

.tabButtonContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

.tabButton {
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.userBalanceContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.userBalanceText {
    color: #888;
}

.fieldContainer {
    display: flex;
    flex-direction: row;
}

.tokenFieldContainer {
    margin-top: 2rem;
}

.tokenDetailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tokenImage {
    border-radius: 100%;
}

.tokenName {
    color: #888;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 1rem;
}

.inputFieldContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    /* margin: 1rem; */
}

.comingSoonText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
}

.joinWaitlistButton {
    background-color: #EEE;
    width: 50%;
    border: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    height: 50px;
    cursor: pointer;
}