.vaultPageContainer {
    display: flex;
    flex-direction: column;
}

.firstRow {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.backLinkContainer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.vaultAddressContainer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.vaultMetadataContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.vaultNameContainer {
    margin-left: 1rem;
}

.vaultName {
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
}

.tags {
    display: flex;
    margin-top: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.vaultAndBookContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.vaultInfoColumn {
    margin: 3rem;
    width: 30%;    
    /* background-color: #101115; */
    background-color: #171717;
    border: 1px solid rgba(90, 139, 244, 0.5);
    padding: 1.4rem;
    border-radius: 1rem;
    box-shadow:0 0px 0 black,0 0px 0 rgba(255,255,255,0.3) inset,0 30px 60px 0px rgba(90, 139, 244, 0.1);
}

.vaultTitle {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.vaultStat {
    margin-top: 1rem;
}

.bookColumn {
    margin: 3rem;
    width: 30%;
    /* background-color: #101115; */
    background-color: #171717;
    border: 1px solid rgba(90, 139, 244, 0.5);
    padding: 1.4rem;
    border-radius: 1rem;
    box-shadow:0 0px 0 black,0 0px 0 rgba(255,255,255,0.3) inset,0 30px 60px 0px rgba(90, 139, 244, 0.1);
}

@media (max-width: 768px) {
    .vaultAndBookContainer {
        display: flex;
        flex-direction: column;
    }

    .vaultInfoColumn {
        margin: 2rem;
        width: 80%;
    }
    
    .bookColumn {
        margin: 2rem;
        width: 80%;
    }
}

@media (max-width: 425px) {
    .vaultName {
        font-size: 2rem;
    }

    .navigationContainer {
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .vaultName {
        font-size: 1.6rem;
    }

    .navigationContainer {
        font-size: 0.75rem;
    }
}