.vaultPageContainer {
  color: white;
  display: flex;
  flex-direction: row;
}

.vaultDataContainer {
  width: 75%;
  border: 1px solid #575757;
  box-sizing: border-box;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-left: 2rem;
  background: linear-gradient(
    to bottom,
    #191919,
    #181818,
    #171717,
    #161616,
    #151515,
    #141414,
    #131313,
    #121212,
    #111111,
    #101010,
    #0a0b0e
  );
}

.userDataContainer {
  width: 25%;
  box-sizing: border-box;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  .vaultPageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vaultDataContainer {
    width: 90%;
    margin: 0;
  }

  .userDataContainer {
    margin-top: 2rem;
    width: 90%;
  }
}
