.pairInfoRowContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
    color: white;
}

.pairNameContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

@media (max-width: 425px) {
    .pairNameContainer {
        font-size: 1.8rem;
        margin-left: 0.5rem;
    }
}
