.tokenFieldWithBalanceContainer {
  width: 100%;
  margin-top: 1rem;
}

.userBalanceContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.25rem;
  color: #888888;
  font-size: 0.85rem;
}

.tokenFieldContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0.75rem;
}

.tokenDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 30%;
  padding: 0.25rem;
  border-radius: 0.75rem 0rem 0rem 0.75rem;
  background-color: #2b2b2b;
}

.tokenImageContainer {
  margin: 0.25rem;
}

.tokenImage {
  border-radius: 100%;
}

.tokenNameContainer {
  margin: 0.25rem;
  margin-bottom: 0.5rem;
}

.tokenName {
  font-size: 0.9rem;
  font-weight: bold;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0.75rem;
  border-radius: 0rem 0.75rem 0.75rem 0rem;
  background-color: #232323;
}

@media (max-width: 1440px) {
  .tokenDetailsContainer {
    width: 42%;
  }

  .inputFieldContainer {
    width: 58%;
    align-items: flex-end;
  }
}
